.chart-series-line {    
    -fx-stroke-width: 1px;
    -fx-effect: null;
}


.default-color0.chart-series-line { -fx-stroke: #000000; }
.default-color1.chart-series-line { -fx-stroke: #0000ff; }
.default-color2.chart-series-line { -fx-stroke: #ff0000; }
.default-color3.chart-series-line { -fx-stroke: #00cc00; }
.default-color4.chart-series-line { -fx-stroke: #aaaaaa; }
.default-color5.chart-series-line { -fx-stroke: #666666; }
.default-color6.chart-series-line { -fx-stroke: #aaaaaa; }
.default-color7.chart-series-line { -fx-stroke: #cccccc; }
.default-color8.chart-series-line { -fx-stroke: #cccccc; }
.default-color9.chart-series-line { -fx-stroke: #cccccc; }
 
.default-color0.chart-line-symbol { -fx-background-color: null, null; }
.default-color1.chart-line-symbol { -fx-background-color: null, null; }
.default-color2.chart-line-symbol { -fx-background-color: null, null; }
.default-color3.chart-line-symbol { -fx-background-color: null, null; }
.default-color4.chart-line-symbol { -fx-background-color: null, null; }
.default-color5.chart-line-symbol { -fx-background-color: null, null; }
.default-color6.chart-line-symbol { -fx-background-color: null, null; }
.default-color7.chart-line-symbol { -fx-background-color: #99ccff, white; }
.default-color8.chart-line-symbol { -fx-background-color: #3366ff, white; }
.default-color9.chart-line-symbol { -fx-background-color: #ff0000, white; }