.candlestick-tooltip-label {
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
    -fx-text-fill: #666666;
    -fx-padding: 2 5 2 0;
}
.candlestick-average-line {
    /*-fx-stroke: #106ece;*/
    -fx-stroke: #0000cc;
    -fx-stroke-width: 1px;
}
.candlestick-candle {
    -fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.4) , 10, 0.0 , 2 , 4 );
}
.candlestick-line {
    -fx-stroke: #000000;
    -fx-stroke-width: 1px;
}
.candlestick-bar {
    -fx-padding: 5;
    -demo-bar-fill: red;
    -fx-background-color: linear-gradient(derive(-demo-bar-fill,-30%), derive(-demo-bar-fill,-40%)),
                          linear-gradient(derive(-demo-bar-fill,100%), derive(-demo-bar-fill, 10%)),
                          linear-gradient(derive(-demo-bar-fill,30%), derive(-demo-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
}
.candlestick-bar.close-above-open {
    /*-demo-bar-fill: #95ce1b;*/
    -demo-bar-fill: #ffffff;
}
.candlestick-bar.open-above-close {
    /*-demo-bar-fill: #ce2700;*/
    -demo-bar-fill: #333333;
}
