.chart-series-line {    
    -fx-stroke-width: 1px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #000000; }
.default-color1.chart-series-line { -fx-stroke: #0000ff; }
.default-color2.chart-series-line { -fx-stroke: #aaaaaa; }
 
.default-color0.chart-line-symbol { -fx-background-color: null, null; }
.default-color1.chart-line-symbol { -fx-background-color: null, null; }
.default-color2.chart-line-symbol { -fx-background-color: null, null; }